.tableList {
  min-width: 450px;
  margin: 0 auto;
}

.tableList thead {
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(211, 211, 211, 0.4);
}

.tableList__item {
  border-bottom: 1px solid rgba(211, 211, 211, 0.4);
}

.tableList__item td {
  padding: 10px;
  margin: 0 auto;
}

.tableList__itemNumber {
  text-align: center;
}

.tableList__itemName {
  margin: 0 6px 0 0;
}

.tableList__itemUrl {
  margin: 0 auto 0 0;
}
